<!-- display sub-navigation partial -->
<%= render 'admin/includes/subnavigation' %>

<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

  <!-- MISSION ACTION SECTION -->   
      
  <div class="row manageusersSection">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <h1>Listing Userss</h1>

      <div class="row">
        <div class="col-md-1">First name</div>
        <div class="col-md-1">Middle name</div>
        <div class="col-md-1">Last name</div>
        <div class="col-md-1">Home Phone</div>
        <div class="col-md-1">Mobile Phoone</div>
        <div class="col-md-1">Email</div>
        <div class="col-md-6"></div>
      </div>
      <% @users.each do |user| %>
        <div class="row">
          <div class="col-md-1"><%= user.first_name %></div>
          <div class="col-md-1"><%= user.middle_name %></div>
          <div class="col-md-1"><%= user.last_name %></div>
          <div class="col-md-1"><%= user.home_phone %></div>
          <div class="col-md-1"><%= user.mobile_phone %></div>
          <div class="col-md-1"><%= user.email %></div>
          <div class="col-md-1"><%= link_to 'Show', user %></div>
          <div class="col-md-1"><%= link_to 'Edit', edit_user_path(user) %></div>
          <div class="col-md-1"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <div class="col-md-3"></div>
        </div>
      <% end %>

      <br>

      <%= link_to 'New User', new_user_path %>
    </div>
  </div>

</div> 
<!-- /BODY container -->