<!-- display sub-navigation partial -->
<%= render 'users/shared/subnavigation' %>

<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

  <!-- MANAGE USERS ACTION SECTION -->   
      
  <div class="row manageusersSection">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <h2>Listing Users</h1>

      <div class="row manageUsersHeaders">
        <div class="col-md-1 h4">First Name</div>
        <div class="col-md-1 h4">Middle Name</div>
        <div class="col-md-1 h4">Last Name</div>
        <div class="col-md-1 h4">Home Phone</div>
        <div class="col-md-1 h4">Mobile Phone</div>
        <div class="col-md-3 h4">Email</div>
        <div class="col-md-1 h4">Role</div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
      </div>
      <% @users.each do |user| %>
        <div class="row manageUsersData">
          <div class="col-md-1"><%= user.first_name %></div>
          <div class="col-md-1"><%= user.middle_name %></div>
          <div class="col-md-1"><%= user.last_name %></div>
          <div class="col-md-1"><%= user.home_phone %></div>
          <div class="col-md-1"><%= user.mobile_phone %></div>
          <div class="col-md-3"><%= user.email %></div>
          <div class="col-md-1"><%= user.role.name %></div>
          <div class="col-md-1"><%= link_to 'Show', user %></div>
          <div class="col-md-1"><%= link_to 'Edit', edit_user_path(user) %></div>
          <div class="col-md-1"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>

      <br>

      <%= link_to 'New User', new_user_path %>
    </div>
  </div>

</div> 
<!-- /BODY container -->