<!--TOP HEADER BAR -->
<div class="container-fluid navbar-fixed-top headerBar">
    <div class="row ">
        <div class="col-md-6">
            <a class="navbar-brand" href="/"> The Jay Ross Foundation</a>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-success donateNowBtn">DONATE NOW</button>
        </div>          
    </div>
</div>

<!-- NAVIGATION SECTION -->
<nav class="navbar navbar-default navbar-fixed-top topNav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>

        <!-- sub navigation panel -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav topNavLinks">
                <li <% if activeMenu?(@activeMenuPaths,'aboutus') %>     class="active" <% end %> ><%= link_to 'ABOUT US',     aboutus_path %> </li>
                <li <% if activeMenu?(@activeMenuPaths,'initiatives') %> class="active" <% end %> ><%= link_to 'INITIATIVES',  initiatives_path %></li>
                <li <% if activeMenu?(@activeMenuPaths,'takeaction') %>  class="active" <% end %> ><%= link_to 'TAKE ACTION',  takeaction_path %></li>
                <li <% if activeMenu?(@activeMenuPaths,'ourimpact') %>   class="active" <% end %> ><%= link_to 'OUR IMPACT',   ourimpact_path %></li>
                <% if user_signed_in? %>
                    <li <% if activeMenu?(@activeMenuPaths,'admin') %>  class="active" <% end %> ><%= link_to 'ADMIN', admin_path %></li> 
                <% end %>
            </ul>
            <% if user_signed_in? %>
                <ul class="nav navbar-nav navbar-right topNavLinks SignedInUL">
                    <li class="SignedInText">
                        Signed In as  
                        <%= current_user.first_name %> <%= current_user.last_name  %>
                        <% if not current_user.images.blank? %>
                            <%= image_tag(current_user.images, :alt => "profile", :class => "profile") %>
                        <% end %>
                    </li>
                    <li class="SignOutLI">
                        <%= form_for current_user, :url => "/users/sign_out", :html => {:class => "navbar-form navbar-right loginForm", :method => :delete} do |f| %>
                            <button type="submit" class="btn btn-success">Sign Out</button>
                        <% end %>
                    </li>
                </ul>
            <% else %>
                <!--<%= form_for @user, :url => "/users/sign_in", :html => {:class => "navbar-form navbar-right loginForm"} do |f| %>
                    <div class="form-group">
                        <%= f.email_field :email, :placeholder => "Email", :class => "form-control", autofocus: true %>                        
                    </div>
                    <div class="form-group">
                        <%= f.password_field :password, :placeholder => "Password", :class => "form-control", autocomplete: "off" %>
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                <% end %>-->
                <div class="navbar-form navbar-right loginForm">
                    <%= link_to '<button type="submit" class="btn btn-success">Log In</button>'.html_safe, "/users/sign_in" %>                    
                </div>
            <% end %>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>  
<!-- END NAV SECTION -->