<!--TOP HEADER BAR -->
<div class="container-fluid navbar-fixed-top headerBar">
    <div class="row ">
        <div class="col-md-6">
            <a class="navbar-brand" href="/"> The Jay Ross Foundation</a>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-success donateNowBtn">DONATE NOW</button>
        </div>          
    </div>
</div>

<!-- NAVIGATION SECTION -->
<nav class="navbar navbar-default navbar-fixed-top topNav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>

        <!-- sub navigation panel -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav topNavLinks">
                <!-- TODO: move logic for active tab to the main_helper -->
                <li <% if @activeMenuPaths.include?('aboutus') %>     class="active" <% end %> ><%= link_to 'ABOUT US',     aboutus_path %> </li>
                <li <% if @activeMenuPaths.include?('initiatives') %> class="active" <% end %> ><%= link_to 'INITIATIVES',  initiatives_path %></li>
                <li <% if @activeMenuPaths.include?('takeaction') %>  class="active" <% end %> ><%= link_to 'TAKE ACTION',  takeaction_path %></li>
                <li <% if @activeMenuPaths.include?('ourimpact') %>   class="active" <% end %> ><%= link_to 'OUR IMPACT',   ourimpact_path %></li>
                <li <% if @activeMenuPaths.include?('admin') %>       class="active" <% end %> ><%= link_to 'ADMIN',        admin_path %></li> 
            </ul>
            
            <%= form_for @user, :url => "/user", :html => {:class => "navbar-form navbar-right loginForm"} do |f| %>
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            <% end %>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>  
<!-- END NAV SECTION -->