<!-- BODY INFORMATION CONTAINER -->
<div class="container-fluid">

  <!-- SIGN UP SECTION  -->
  <div class="">         
  <div class="row signUpSection"> 
    <div class="col-md-12">
      <h2>Please Sign Up</h2>

      <div class="">
        <div class="row">
          <!-- display messaging -->
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>

        </div>
      </div>

      <div class="auth__internal">      

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :middle_name %><br />
            <%= f.text_field :middle_name%>
          </div>

          <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name%>
          </div>

          <div class="field">
            <%= f.label :home_phone %><br />
            <%= f.telephone_field :home_phone %>
          </div>

          <div class="field">
            <%= f.label :mobile_phone %><br />
            <%= f.telephone_field :mobile_phone %>
          </div>

           <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </div>         

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>

          <div class="row sharedLinks">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <%= render "users/shared/links" %>  
            </div> 
          </div> 
        <% end %>

      </div>
    </div>
  </div>


</div> 
<!-- /BODY container -->
